* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

body,
p,
label,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background: #e5e5e5;
}

body::before {
  content: "";
  background: #535971;
  width: 100%;
  height: 43.6rem;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.page {
  width: 75.0rem;
  margin: auto;
}

header {
  width: 41.7rem;
  margin-top: 14.0rem;
}

header h1 {
  font-size: 4.8rem;
  color: #ffffff;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

header p {
  font-size: 2.0rem;
  color: #ffffff;
}

form {
  margin-top: 5.8rem;
  background: #ffffff;
  border-radius: 2.0rem 2.0rem 0 0;
  display: flex;
  flex-direction: column;
  padding: 6.4rem;
  gap: 3.0rem;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

fieldset legend {
  font-family: "Staatliches", sans-serif;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 1.6rem;
  width: 100%;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: #535971;
}

fieldset > legend:nth-of-type(1) {
  font-size: 2.0rem;
  border: none;
  line-height: 3.4rem;
  padding: 0;
}

.fieldset-wrapper > fieldset > legend:nth-of-type(1) {
  margin-bottom: 1.1rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #4e4958;
  margin-bottom: 0.8rem;
}

.input-wrapper label span {
  color: #c1bccc;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.0rem;
  margin-left: 0.4rem;
}

.input-wrapper label span:hover {
  color: #6a6a71;
}

.input-wrapper input {
  background: #fafafc;
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 1px solid #e6e6f0;
  color: #6a6a71;
  padding: 0 2.6rem;
}

.input-wrapper input:hover {
  border: 0.5px solid black;
}

.col-1 {
  display: flex;
  gap: 2.4rem;
}

.col-2 {
  display: flex;
  gap: 2.4rem;
}

#event-mentor-name {
  margin-bottom: 0.2rem;
}

.col-1 > div:nth-child(1) {
  width: 50%;
}

.col-1 > div:nth-child(2) {
  width: 50%;
}

.col-2 > div:nth-child(1) {
  width: 30.0rem;
}

.col-2 > div:nth-child(2) {
  width: 14.0rem;
}

.col-2 > div:nth-child(3) {
  width: 14.0rem;
}

footer {
  height: 16.0rem;
  width: 100%;
  background: #535971;
  display: flex;
  flex-direction: column;
  padding: 52.67px;
  border-radius: 0 0 2.0rem 2.0rem;
  margin-bottom: 36.6rem;
}

footer .button {
  height: 55.65px;
  border-radius: 2.0rem;
  border: none;
  background: #ff5374;
  color: #ffffff;
  font-size: 2.0rem;
  line-height: 2.6rem;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
}

footer .button:hover {
  background: #e14c6a;
}

input:invalid {
  border: 1px solid red;
}
